<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pusaka.Web</title>

    <environment include="Development">
        <link href="~/lib/semantic/semantic.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/semantic/semantic.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    @await Html.PartialAsync("_Header")

    <div class="ui two column stackable grid">
        <div class="three wide column">
            @await Html.PartialAsync("_SideMenu")
        </div>
        <div class="thirteen wide column">
            @RenderBody()
        </div>
    </div>
    <div class="container body-content">
    </div>

    @await Html.PartialAsync("_Footer")

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/semantic/semantic.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
