<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Kategori</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button mat-flat-button color="primary">Tambah Kategori</button>
        <button class="btn btn-sm btn-outline-primary create" data-toggle="modal" data-target="#modalTransaction"><span data-feather="plus"></span> Tambah Kategori</button>
    </div>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="CategoryName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nama </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.CategoryName}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Tag">
            <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Tag}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
</div>
